.confirmation{
    padding: 2rem;
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-confirmation h2{
    text-align: center;
}

.form-confirmation h5{
    color: red;
}